
@font-face {
	font-family:StarHol;
	src: url(Starjhol.ttf);
}

body {
	display: grid;
	color: white;
	background: url(https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
    justify-content: center;
    font-family: Calibri;
}

#titleContainer {
	display: flex;
	justify-content: space-between;
}

#dooku,#luke {
	position: relative;
	width: 250px;
	height: 250px;
	top:60px;

}

a,h1 {
	text-align:center;
	color: yellow;
	font-family: StarHol;
	font-size: 70pt;
}

h3 {
	position: relative;
	text-align:center;
	bottom: 100px;
	font-size: 50pt;
	font-family: Arial;
	letter-spacing: 6px;
	color: black;
	opacity: .5;
	text-shadow: 0px 0px 13px  white;
}

#UI {
	position: relative;
	bottom: 100px;
	min-width: 800px;
}


nav {
	width:100%;
	display: flex;
	justify-content: space-around;
}

.navbar {

	color:white;
	background: linear-gradient(to bottom, rgb(120,120,120,.3),rgb(10,10,10,1));
	border-style: none;
	border-radius: 4px;
	min-width:15%;
	height: 40px;
	letter-spacing: 3px;
	border: 1px solid black;
	text-shadow: 2px 0px 4px black;
	padding: 0px 20px 0px 20px;
	transition: all .9s;
	font-size: 1.3em;

}

.navbar:hover {
	background: rgb(255,100,100);
	transform: scale(1.2);
}


#container {
	display: grid;
	justify-content: center;
	min-width:850px;
	height: 800px;
	overflow-y: scroll;
	border-radius: 4px;
	border: solid 1px red;

}

section {
	width:100%;
	text-align: center;
	transition: all 1s;
	opacity:1;
}

h2 {
	font-size: 34pt;
	text-shadow: 2px 0px 3px black;


}

.card {
	display: grid;
	grid-template-columns: 	auto;
	justify-content: center;
	background-color: rgba(90,90,90,.6);
	border-radius: 4px;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	padding-bottom: 20px;
	height: auto;
	min-width:400px;
	max-width: 70%;
	text-align: center;
	box-shadow: 0px 2px 4px black;
}

article {
	display: flex;
	max-width: 80%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:auto;
}

img {
	margin: auto;
}

h4 {
	font-size: 25pt;
	text-shadow: 2px 0px 3px black;
	text-align: center;

}

h5 {
	font-size: 18pt;
	text-shadow: 2px 0px 3px black;
	text-align: center;

}
h6 {
	font-size: 15pt;
	text-shadow: 2px 0px 3px black;

}
ul {
	text-align: left;
}

.hide{
	display:none;
}

#hud {
	x-overflow:hide;
	margin: auto;
	width: 100%;
	min-width:400;
	height: 800px;
	position: absolute;
	z-index: -1;
}

.crawl {
	width: 80%;
	margin: auto;
}


/*-----------------ANIMATIONS--------------------
*/
#rectB {
animation: none;
}

#rectE {
	animation: none;
	top:790px;
}

.anim-rectangleR {
	position: absolute;
	z-index: -1;
	background: linear-gradient(to bottom, 
		rgba(0,0,0,0),
		rgba(255,0,0,1),
		rgba(0,0,0,0)
		);
	width: 100%;
	height: 60px;
	animation-name: moveDown;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	opacity:.1;
}


@keyframes moveDown {
	0% {top: 30px;}
	100% {top: 790px;}
}


